@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  th {
    @apply align-top;
    @apply pr-4;
    @apply whitespace-nowrap;
    @apply font-semibold;
  }
  th:last-child {
    @apply pr-0;
  }
  td {
    @apply align-top;
    @apply pr-4;
    @apply whitespace-nowrap;
  }
  td:last-child {
    @apply pr-0;
  }
}

@layer utilities {
  .select-none-x {
    /* https://stackoverflow.com/a/4407335/219272 */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  }
}
