@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  th {
    @apply align-top;
    @apply pr-4;
    @apply whitespace-nowrap;
    @apply font-semibold;
  }
  th:last-child {
    @apply pr-0;
  }
  td {
    @apply align-top;
    @apply pr-4;
    @apply whitespace-nowrap;
  }
  td:last-child {
    @apply pr-0;
  }
}

@layer utilities {
  /* https://stackoverflow.com/a/4407335/219272 */
  .select-none-x {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    user-select: none; /* Chrome, Edge, Opera, Firefox */
  }
}

a[href^="http"] {
  background: url(/external.svg) center right no-repeat;
  background-size: 10px;
  padding-right: 13px;
}